<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer
    #drawer
    class="sidenav"
    mode="over"
    [style.width]="windowWidth <= 550 ? '90vw' : ''"
  >
    <div class="sidenav-title">
      <p>Ciência da computação</p>
      <p>2° Período</p>
    </div>
    <div class="sidenav-infos">
      <div class="sidenav-box-purple">
        <div class="sidenav-box-title">
          <img src="../assets/hat.png" alt="" />
          <p>Matéria</p>
        </div>
        <div class="sidenav-box-container">
          <p>Robótica computacional</p>
          <p>Professor Alberto</p>
        </div>
      </div>
      <div class="sidenav-box-pink">
        <div class="sidenav-box-title">
          <img src="../assets/chair.png" alt="" />
          <p>Sala</p>
        </div>
        <div class="sidenav-box-container">
          <p>Sala 203 - Segundo Andar</p>
          <p>Prédio CCT</p>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container">
      <div>
        <div class="top-info">
          <mat-icon style="transform: scale(1.3)">place</mat-icon>
          <p>Campus Sede</p>
        </div>
      </div>
      <app-search></app-search>
      <mat-icon
        style="transform: scale(1.3)"
        class="icon-menu"
        (click)="drawer.toggle()"
        >menu</mat-icon
      >
    </div>
  </mat-drawer-content>
</mat-drawer-container>
